<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- GoatCounter -->
    <script
      data-goatcounter="https://inkbyexample.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
    <noscript>
      <img src="https://inkbyexample.goatcounter.com/count?p=/" />
    </noscript>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ink by Example</title>
    <meta property="og:title" content="Ink by Example" />
    <meta property="og:site_name" content="Ink by Example" />
    <meta property="og:url" content="https://inkbyexample.com/" />
    <meta
      name="description"
      content="Ink by Example is a hands-on introduction to Ink using annotated example programs."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://inkbyexample.com/preview.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:description"
      content="Ink by Example is a hands-on introduction to Ink using annotated example programs."
    />
    <meta name="twitter:title" content="Ink By Example" />
    <meta name="twitter:site" content="@healeycodes" />
    <meta name="twitter:image" content="https://inkbyexample.com/preview.png" />
    <meta name="twitter:creator" content="@healeycodes" />

    <link rel="stylesheet" href="site.css" />
  </head>
  <body>
    <div id="intro">
      <h2>
        <a href="./">Ink by Example</a>
      </h2>
      <p>
        <a href="https://dotink.co/">Ink</a> is a minimal programming language
        inspired by modern JavaScript and Go, with a functional style.
      </p>

      <p>
        <em>Ink by Example</em> is a hands-on introduction to Ink using
        annotated example programs. Check out the
        <a href="hello-world.html">first example</a> or browse the full list
        below.
      </p>

      <ul>
        {{ exampleList }}
      </ul>

      <p>
        This website's toolchain is
        <a href="https://github.com/healeycodes/inkbyexample">powered by Ink</a>
        {{ inkVersion }}
      </p>
      <p class="footer">
        by <a href="https://healeycodes.com">Andrew Healey</a> |
        <a href="https://github.com/healeycodes/inkbyexample">source</a> |
        <a href="https://github.com/healeycodes/inkbyexample#license"
          >license</a
        >
      </p>
    </div>
  </body>
</html>
